/*  ==================================================
    公用部分
    ==================================================  */

/* 自定义字体 */
@font-face {
    font-family: 'myFont';
    src: url('font/bahnschrift.ttf'),
    url('font/bahnschrift.eot'); /* IE9 */
}

/* 滚动条样式美化 */
::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-width: 1200px;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
    background: #f4f5f9;
}

.background-grey {
    background-color: #F4F5F9;
}

.background-white {
    background-color: #FFF;
}

.background-blue {
    background: #0e79fb;
    background: -webkit-linear-gradient(100deg, #186bf8, #0684fd);
    background: -o-linear-gradient(100deg, #186bf8, #0684fd);
    background: -moz-linear-gradient(100deg, #186bf8, #0684fd);
    background: linear-gradient(100deg, #186bf8, #0684fd);
}

ul, ol, li {
    list-style: none;
}

input, button, textarea, select {
    outline: none;
    font-family: "Microsoft YaHei", "微软雅黑";
}

input[type="text"],
input[type="password"],
textarea,
select {
    padding: 6px 8px;
    border: #e0e3ef solid 1px;
    box-sizing: border-box;
    background: #FFF;
    color: #444;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
    border-color: #DDD;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #0985fd;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: #999999;
}

input[type="text"].error,
input[type="password"].error,
textarea.error,
select.error {
    border-color: #E33F3F;
    color: #E33F3F;
}

img {
    vertical-align: top;
}

a {
    color: #666;
    text-decoration: none;
    transition: 0.15s;
}

a:hover {
    color: #0B7DFC;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    padding: 0;
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.blue {
    color: #0B7DFC !important;
}

.red {
    color: #FF3D49 !important;
}

.green {
    color: #1ECC5A !important;
}

.orange {
    color: #FF7603 !important;
}

a.blue:hover, a.red:hover {
    text-decoration: underline;
}

.btn {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 2px 8px 3px;
    border: 0;
    box-sizing: border-box;
    border-radius: 2px;
    background: #F4F4F4;
    box-shadow: rgba(236, 236, 236, .2) 0 2px 3px;
    color: #666;
    cursor: pointer;
    transition: background-color .15s, border-color .15s, opacity .15s;
}

a.btn {
    text-align: center;
    line-height: 1.5;
}

.btn:hover {
    background: #F2F2F2;
    color: #222;
}

.btn:active {
    top: 1px;
    background: #F0F1F5;
}

.btn-light {
    background: #F4F4F4;
    box-shadow: none;
    color: #666;
}

.btn-primary {
    background: #156ff9;
    background: -webkit-linear-gradient(45deg, #186bf8, #0684fd);
    background: -o-linear-gradient(45deg, #186bf8, #0684fd);
    background: -moz-linear-gradient(45deg, #186bf8, #0684fd);
    background: linear-gradient(45deg, #186bf8, #0684fd);
    box-shadow: rgba(24, 107, 250, .24) 0 2px 3px;
    color: #FFF;
}

.btn-primary:hover {
    background: #156de5;
    background: -webkit-linear-gradient(45deg, #1867e4, #0676e9);
    background: -o-linear-gradient(45deg, #1867e4, #0676e9);
    background: -moz-linear-gradient(45deg, #1867e4, #0676e9);
    background: linear-gradient(45deg, #1867e4, #0676e9);
    box-shadow: rgba(24, 107, 250, .24) 0 2px 3px;
    color: #FFF;
}

.btn-primary:active {
    background: #156ff9;
    background: -webkit-linear-gradient(45deg, #186bf8, #0684fd);
    background: -o-linear-gradient(45deg, #186bf8, #0684fd);
    background: -moz-linear-gradient(45deg, #186bf8, #0684fd);
    background: linear-gradient(45deg, #186bf8, #0684fd);
    box-shadow: rgba(24, 107, 250, .1) 0 1px 1px;
    box-shadow: none;
}

.btn-green {
    background: #1EC959;
    background: -webkit-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: -o-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: -moz-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: linear-gradient(45deg, #1EC658, #1ECC5A);
    box-shadow: rgba(30, 200, 89, .24) 0 2px 3px;
    color: #FFF;
}

.btn-green:hover {
    background: #1ed359;
    background: -webkit-linear-gradient(45deg, #1ed058, #1ed65b);
    background: -o-linear-gradient(45deg, #1ed058, #1ed65b);
    background: -moz-linear-gradient(45deg, #1ed058, #1ed65b);
    background: linear-gradient(45deg, #1ed058, #1ed65b);
    box-shadow: rgba(30, 200, 89, .24) 0 2px 3px;
    color: #FFF;
}

.btn-green:active {
    background: #1EC959;
    background: -webkit-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: -o-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: -moz-linear-gradient(45deg, #1EC658, #1ECC5A);
    background: linear-gradient(45deg, #1EC658, #1ECC5A);
    box-shadow: rgba(30, 200, 89, .24) 0 1px 1px;
}

.btn-orange {
    background: #FF7C03;
    background: -webkit-linear-gradient(45deg, #FF6205, #FF8D02);
    background: -o-linear-gradient(45deg, #FF6205, #FF8D02);
    background: -moz-linear-gradient(45deg, #FF6205, #FF8D02);
    background: linear-gradient(45deg, #FF6205, #FF8D02);
    box-shadow: rgba(255, 124, 3, .24) 0 2px 3px;
    color: #FFF;
}

.btn-orange:hover {
    background: #FF7C03;
    background: -webkit-linear-gradient(135deg, #FF6205, #FF8D02);
    background: -o-linear-gradient(135deg, #FF6205, #FF8D02);
    background: -moz-linear-gradient(135deg, #FF6205, #FF8D02);
    background: linear-gradient(135deg, #FF6205, #FF8D02);
    box-shadow: rgba(255, 124, 3, .24) 0 2px 3px;
    color: #FFF;
}

.btn-orange:active {
    background: #FF7C03;
    background: -webkit-linear-gradient(135deg, #FF6205, #FF8D02);
    background: -o-linear-gradient(135deg, #FF6205, #FF8D02);
    background: -moz-linear-gradient(135deg, #FF6205, #FF8D02);
    background: linear-gradient(135deg, #FF6205, #FF8D02);
    box-shadow: rgba(255, 124, 3, .24) 0 1px 1px;
}

.btn-info {
    background: #0B9DFF;
    background: -webkit-linear-gradient(45deg, #138BFF, #05ADFE);
    background: -o-linear-gradient(45deg, #138BFF, #05ADFE);
    background: -moz-linear-gradient(45deg, #138BFF, #05ADFE);
    background: linear-gradient(45deg, #138BFF, #05ADFE);
    box-shadow: rgba(11, 157, 255, .24) 0 2px 3px;
    color: #FFF;
}

.btn-info:hover {
    background: #0B9DFF;
    background: -webkit-linear-gradient(135deg, #138BFF, #05ADFE);
    background: -o-linear-gradient(135deg, #138BFF, #05ADFE);
    background: -moz-linear-gradient(135deg, #138BFF, #05ADFE);
    background: linear-gradient(135deg, #138BFF, #05ADFE);
    box-shadow: rgba(11, 157, 255, .24) 0 2px 3px;
    color: #FFF;
}

.btn-info:active {
    background: #0B9DFF;
    background: -webkit-linear-gradient(135deg, #138BFF, #05ADFE);
    background: -o-linear-gradient(135deg, #138BFF, #05ADFE);
    background: -moz-linear-gradient(135deg, #138BFF, #05ADFE);
    background: linear-gradient(135deg, #138BFF, #05ADFE);
    box-shadow: rgba(11, 157, 255, .24) 0 1px 1px;
}

.btn-line {
    position: relative;
    border: 2px solid #26B0EF;
    /*border-color: #1DBBEF;*/
    /*border-image: linear-gradient(120deg, #1DBBEF, #4091EE);*/
    /*border-image-slice: 10;*/
    background: #FFF;
    color: #3998ED;
}

.btn-line:hover {
    background: #f0fbff;
    color: #3998ED;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearFix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearFix {
    zoom: 1;
}

.clear {
    clear: both;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hide {
    display: none;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.center:after {
    display: table;
    clear: both;
    content: "";
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.header {
    position: relative;
    z-index: 2;
    height: 88px;
    background: #FFF;
}

.header h1 {
    padding: 22px 0;
    line-height: 0;
    float: left;
}

.header .action {
    padding-top: 26px;
}

.header .action .search {
    position: relative;
    float: left;
}

.header .action .search input {
    width: 200px;
    height: 34px;
    margin-right: -1px;
    float: left;
}

.header .action > a {
    position: relative;
    top: 0;
    transition: top .2s;
}

.header .action > a:active {
    top: 1px;
}

.header .action .notice {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 0;
    background: #f3f4f9;
    box-shadow: none;
    float: left;
}

.header .action .notice.remind:before {
    position: absolute;
    right: 7px;
    top: 8px;
    z-index: 2;
    display: block;
    width: 5px;
    height: 5px;
    border: #f3f4f9 solid 2px;
    background: #ff7e00;
    border-radius: 50%;
    content: "";
}

.header .action .phone {
    margin: 5px 22px 0 14px;
    float: left;
}

.header .action > button {
    width: 64px;
    height: 32px;
    margin-top: 1px;
    border-radius: 16px;
    font-size: 14px;
}

.header .action .user-info {
    position: relative;
    margin-right: 20px;
    float: left;
}

.header .user-info > a {
    position: relative;
    display: block;
    padding-right: 22px;
    line-height: 34px;
    color: #000;
    font-size: 14px;
    font-family: 'myFont', "微软雅黑";
}

.header .user-info > a:before,
.header .user-info > a:after {
    position: absolute;
    right: 0;
    top: 13px;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    border: transparent solid 6px;
    border-top-color: #444444;
    content: "";
}

.header .user-info > a:after {
    top: 11px;
    z-index: 2;
    border-top-color: #FFF;
}

.header .user-info ol {
    display: none;
    position: absolute;
    right: -10px;
    top: 34px;
    min-width: 130px;
    padding: 8px 0;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 12px;
}

.header .user-info ol a {
    position: relative;
    display: block;
    padding-left: 20px;
    line-height: 32px;
    font-size: 14px;
}

.header .user-info ol a:before {
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 2;
    display: block;
    width: 0;
    height: 2px;
    background: #186BFA;
    content: "";
    transition: width .2s;
}

.header .user-info ol a:hover:before {
    width: 10px;
}

.header .user-info ol:before,
.header .user-info ol:after {
    position: absolute;
    right: 10px;
    top: -12px;
    z-index: 2;
    display: block;
    width: 0;
    height: 0;
    border: transparent solid 6px;
    border-bottom-color: #FFF;
    content: "";
}

.header .user-info ol:before {
    top: -13px;
    z-index: 1;
    border-bottom-color: #eff1f9;
}

.grey-bg {
    width: 100%;
    height: 159px;
    background: url("../images/grey-bg.png") repeat-x 0 0;
}

.grey-sm-bg {
    height: 130px;
}

.grey-bg + div {
    margin-top: -159px;
}

.grey-sm-bg + div {
    margin-top: -130px;
}

.grey-bg + div.login {
    position: relative;
    z-index: 2;
    width: 940px;
    height: 548px;
    margin: -92px auto 0;
    border-radius: 6px;
    background: #FFF;
}

.login > div.title {
    position: relative;
    height: 92px;
    border-radius: 6px 6px 0 0;
}

.login > div.title:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 90px;
    height: 92px;
    background: url("../images/e-background.png") no-repeat scroll 0 0;
    content: "";
}

.login h2 {
    padding: 31px 0 0 34px;
    line-height: 30px;
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
}

.login h2 + span {
    position: absolute;
    right: 54px;
    top: 50%;
    display: block;
    margin-top: -13px;
    line-height: 30px;
    font-size: 18px;
    color: #FFF;
    font-style: italic;
    font-family: 'myFont';
}

.login ul.tabs-bar {
    width: 690px;
    height: 64px;
    border-bottom: #E0E3EF solid 1px;
    margin: 0 auto 28px;
}

.login ul.tabs-bar li {
    width: 33.33%;
    height: 63px;
    border-bottom: transparent solid 2px;
    float: left;
}

.login ul.tabs-bar li.active {
    border-bottom-color: #186BF8;
}

.login ul.tabs-bar a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 63px;
    font-size: 16px;
    color: #666;
}

.login ul.tabs-bar li.active a {
    color: #186BF8;
    font-weight: bold;
}

.login .tabs-content {
    display: none;
    width: 310px;
    margin: 0 auto;
}

.login .label {
    position: relative;
    margin-bottom: 12px;
}

.login .label > input {
    display: block;
    width: 100%;
    height: 56px;
    padding-left: 54px;
    border-radius: 2px;
    font-size: 14px;
}

.login .label > input::placeholder {
    color: #9192A5;
}

.login .label > label {
    position: absolute;
    left: 18px;
    top: 19px;
}

.login .btn-box {
    margin: 24px 0 20px;
}

.login .btn-box button {
    width: 150px;
    height: 56px;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.login .btn-box button:first-child {
    margin: 0;
}

.login .btn-box button:first-child:last-child {
    width: 100%;
    float: none;
}

.login .action {
    padding: 0 4px 0 0;
    line-height: 28px;
    font-size: 12px;
}

.login .action label {
    margin-right: 12px;
}

.login .action input[type="checkbox"] {
    margin-right: 4px;
    vertical-align: -2px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 14px;
}

.footer ul,
.footer-more ul {
    float: left;
}

.footer li,
.footer-more li {
    float: left;
}

.footer li:before,
.footer-more li:before {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 10px;
    background: #666666;
    vertical-align: -2px;
    content: "";
}

.footer li:first-child:before,
.footer-more li:first-child:before {
    content: none;
}

.footer p,
.footer-more p {
    float: right;
    font-weight: bold;
    color: #666666;
    font-family: Verdana;
}

.footer p span,
.footer-more p span {
    padding-left: 10px;
    color: #868686;
    font-weight: normal;
}

.navigation {
    width: 100%;
    height: 52px;
    background: #186BFA;
    line-height: 52px;
    font-size: 16px;
    color: #FFF;
}

.navigation li {
    padding-right: 86px;
    float: left;
}

.navigation a {
    color: #FFF;
}

.banner {
    position: relative;
    width: 100%;
    height: 320px;
}

.banner-sm {
    height: 180px;
}

.banner .bd {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.banner .bd li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.banner .bd li a {
    display: block;
    width: 100%;
    height: 100%;
}

.banner .hd {
    position: absolute;
    left: 0;
    bottom: 24px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.banner .hd {
    bottom: 22px;
    line-height: 0;
}

.banner-sm .hd {
    bottom: 16px;
    line-height: 0;
}

.hd ul {
    height: 4px;
}

.hd li {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 5px;
    border-radius: 2px;
    background: #000;
    opacity: .1;
    filter: alpha(opacity=10);
    transition: .2s;
    cursor: pointer;
    vertical-align: top;
}

.hd li.on {
    width: 32px;
    background: #186BFA;
    opacity: 1;
    filter: alpha(opacity=100);
}

.finance {
    margin-top: -159px;
}

.finance > .title {
    /*height: 42px;*/
    /*padding: 14px 0 20px;*/
}

.crumbs > ul,
.finance > .title > ul {
    height: 42px;
    padding: 14px 0 20px;
    overflow: hidden;
    float: left;
}

.crumbs > ul:first-child:last-child,
.finance > .title > ul:first-child:last-child {
    padding: 4px 0;
}

.crumbs > ul li,
.finance > .title li {
    line-height: 42px;
    font-size: 12px;
    color: #545454;
    float: left;
}

.crumbs > ul li a,
.finance > .title li a {
    color: #999;
}

.crumbs > ul li a:hover,
.finance > .title li a:hover {
    color: #186BFA;
}

.crumbs > ul li a:after,
.finance > .title li a:after {
    display: inline-block;
    padding: 0 4px;
    font-family: SimSun, "宋体";
    content: ">";
}

.finance > .title .toolbar {
    padding: 14px 0 20px;
}

.finance > .title button {
    width: 120px;
    height: 42px;
    border-radius: 6px;
    font-size: 14px;
}

.finance .filter-box {
    padding: 18px 30px 20px;
    margin-bottom: 24px;
    border-radius: 6px;
    background: #FFF;
    background: -webkit-linear-gradient(180deg, #F4F5F9, #FDFDFE);
    background: -o-linear-gradient(180deg, #F4F5F9, #FDFDFE);
    background: -moz-linear-gradient(180deg, #F4F5F9, #FDFDFE);
    background: linear-gradient(180deg, #F4F5F9, #FDFDFE);
}

.filter-box .selected {
    position: relative;
    padding-left: 5em;
    padding-bottom: 18px;
    line-height: 32px;
    font-size: 12px;
}

.filter-box .selected dt {
    position: absolute;
    left: 0;
    top: 0;
    color: #868686;
}

.filter-box .selected dd {
    margin: 0;
    overflow: hidden;
}

.filter-box .selected span {
    display: block;
    padding-left: 12px;
    margin: 0 8px 8px 0;
    border-radius: 4px;
    background: #FFF;
    float: left;
}

.filter-box .selected span a {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-family: SimSun, "宋体";
    font-size: 12px;
    color: #FF6905;
    text-align: center;
}

.filter-box .selected span a:hover {
    font-weight: bold;
}

.filter-box .list {
    line-height: 34px;
    font-size: 14px;
    color: #000000;
}

.filter-box .list:after,
.filter-box .list .title + div:after {
    display: table;
    clear: both;
    content: "";
}

.filter-box .list .title {
    width: 92px;
    float: left;
}

.filter-box .list .title + div {
    width: 1048px;
    float: left;
}

.filter-box .list a {
    display: block;
    height: 30px;
    padding: 0 12px;
    margin: 0 26px 8px 0;
    border: transparent solid 1px;
    border-radius: 5px;
    background-color: transparent;
    line-height: 30px;
    font-size: 12px;
    color: #878787;
    float: left;
    transition: .2s;
}

.filter-box .list a:hover,
.filter-box .list a.active {
    border-color: #186BFA;
    background-color: #FFF;
    color: #186BFA;
}

.filter-box .list a:active {
    border-color: #186BFA;
    background-color: #186BFA;
    color: #FFF;
}

.finance-box {
    width: 1220px;
}

.finance-box .finance-list {
    position: relative;
    width: 237px;
    height: 320px;
    padding: 0 24px;
    margin: 0 20px 26px 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, .03) 0 3px 7px;
    float: left;
    overflow: hidden;
    transition: .2s;
}

.finance-box .finance-list:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #186BFA;
    content: "";
}

.finance-list .number,
.finance-details .number {
    position: relative;
    height: 62px;
    padding-left: 20px;
    line-height: 62px;
    font-family: 'myFont';
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.finance-list .number:before,
.finance-details .number:before {
    position: absolute;
    left: 2px;
    top: 26px;
    display: block;
    width: 6px;
    height: 6px;
    border: #186BF9 solid 2px;
    border-radius: 100%;
    content: "";
}

.finance-list .info {
    position: relative;
    width: 100%;
    height: 168px;
    margin-bottom: 16px;
    border-bottom: #DDD dotted 1px;
    overflow: hidden;
}

.finance-list .info .general {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 134px;
    padding-top: 34px;
    margin-top: 0;
    /*background: #FFF;*/
    text-align: center;
    line-height: 74px;
    font-size: 72px;
    font-family: 'myFont';
    color: #186BF8;
    transition: .2s;
}

.finance-list .info .general i {
    display: inline-block;
    font-size: 16px;
    color: #186BF8;
    font-style: normal;
    line-height: initial;
}

.finance-list .info .general span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-family: "Microsoft YaHei", "微软雅黑";
}

.finance-list > p {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #868686;
    font-size: 12px;
    font-family: SimSun, "宋体";
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.finance-list ol,
.finance-list ul {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 160px;
    padding-top: 8px;
    /*background: #FFF;*/
    overflow: hidden;
    transform: scale(0.2);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: .2s;
}

.finance-list ol li,
.finance-list ul li {
    width: 40%;
    padding: 0 0 20px 16px;
    box-sizing: border-box;
    line-height: 34px;
    font-size: 22px;
    font-family: 'myFont', "黑体";
    color: #186BF8;
    white-space: nowrap;
    float: left;
    overflow: hidden;
}

.finance-list ol li:nth-child(odd),
.finance-list ul li:nth-child(odd) {
    width: 60%;
}

.finance-list ol li:nth-child(2),
.finance-list ul li:nth-child(2) {
    font-size: 19px;
}

.finance-list ol li span,
.finance-list ul li span {
    display: block;
    font-size: 14px;
    color: #999999;
    line-height: 26px;
}

.finance-list ol li i,
.finance-list ul li i {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
}

.finance-list a.link {
    position: absolute;
    top: 214px;
    right: 20px;
    z-index: 4;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #186BF8;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.finance-list a.link:hover {
    transform: scale(1.1);
}

.finance-box .finance-list:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, .08) 0 6px 16px;
}

.finance-box .finance-list:hover a.link {
    right: 14px;
    opacity: 1;
}

.finance-box .finance-list:hover .general {
    transform: scale(.6);
    opacity: 0;
    filter: alpha(opacity=0);
}

.finance-box .finance-list:hover ol,
.finance-box .finance-list:hover ul {
    z-index: 3;
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.page-box {
    width: 100%;
    max-width: 1200px;
    height: 26px;
    padding: 6px 0;
    text-align: center;
    line-height: 26px;
}

.page-box * {
    vertical-align: top;
}

.page-box.align-left {
    text-align: left;
}

.page-box.align-right {
    text-align: right;
}

.page-box .page-total {
    display: inline-block;
    padding-right: 20px;
    font-size: 12px;
    color: #999999;
}

.page-box .page-total span {
    padding: 0 2px;
    font-family: Verdana;
    font-weight: bold;
    color: #202020;
}

.finance-box + .page-box {
    margin-bottom: 38px;
}

.page-box ul {
    display: inline-block;
    font-size: 0;
}

.page-box li {
    display: inline-block;
    min-width: 26px;
    height: 26px;
    margin: 0 2px;
}

.page-box li a,
.page-box li span {
    display: block;
    min-width: 26px;
    padding: 0 6px;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 2px;
    font-family: verdana;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
}

.page-box li a {
    font-weight: bold;
    transition: .2s;
}

.page-box li:first-child a,
.page-box li:last-child a {
    font-family: SimSun, "宋体";
}

.page-box li a:hover {
    color: #186BFA;
}

.page-box li a:active,
.page-box li a.active {
    background: #186BFA;
    color: #FFF;
}

.footer-more {
    padding-top: 40px;
    margin-bottom: -100px;
    background: #FFF;
}

.footer-more dl {
    margin: 0 92px 48px 0;
    float: left;
}

.footer-more dt {
    height: 42px;
    font-size: 17px;
    font-weight: bold;
    line-height: 42px;
    color: #186BF8;
}

.footer-more dd {
    margin: 0;
    line-height: 34px;
    font-size: 14px;
    color: #868686;
}

.footer-more dd strong {
    color: #212121;
    font-family: "黑体";
}

.footer-more dd strong.address {
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.footer-more div.pull-right {
    margin: 34px 0 48px;
}

.footer-more div.clear {
    border-top: #F4F5F9 solid 1px;
    line-height: 60px;
    font-size: 14px;
    clear: both;
}

.finance-details {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 100px;
    background: #FFF;
    border-radius: 6px;
    overflow: hidden;
}

.finance-details:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 3px;
    background: #F4F5F9;
    content: "";
}

.finance-details:after {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 260px;
    height: 3px;
    background: #186BFA url("../images/line-bg.png") no-repeat right top;
    background-size: contain;
    content: "";
}

.finance-details .general {
    position: relative;
    padding: 3px 68px 30px;
    margin-bottom: 16px;
}

.finance-details .general:after {
    position: absolute;
    left: 0;
    bottom: -16px;
    display: block;
    width: 100%;
    height: 16px;
    background: url("../images/shadow-bg.png") repeat-x scroll 0 0;
    content: "";
}

.finance-details .general h3 {
    margin-top: -10px;
    line-height: 42px;
    font-size: 24px;
    font-weight: bold;
    font-family: "黑体";
}

.finance-details .general h3 span {
    display: block;
    line-height: 24px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #858585;
}

.finance-details .general ul {
    padding-top: 32px;
    overflow: hidden;
}

.finance-details .general li {
    position: relative;
    min-width: 114px;
    padding: 0 28px;
    margin-right: 28px;
    line-height: 42px;
    font-size: 32px;
    font-family: 'myFont', "黑体";
    color: #186BF8;
    float: left;
}

.finance-details .general li:nth-child(3) {
    font-size: 28px;
}

.finance-details .general li:before {
    position: absolute;
    left: 0;
    top: 17px;
    bottom: 17px;
    display: block;
    width: 0;
    border-left: #DDDDDD dotted 1px;
    content: "";
}

.finance-details .general li:first-child:before {
    content: none;
}

.finance-details .general li span {
    display: block;
    line-height: 24px;
    font-size: 14px;
    color: #999999;
    font-family: "Microsoft YaHei";
}

.finance-details .general li i {
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    line-height: initial;
}

.finance-details .info-list {
    padding: 4px 64px 64px;
}

.info-list dl {
    padding: 12px 0 14px;
    border-bottom: #F4F5F9 solid 1px;
}

.info-list dl:last-child {
    border: none;
}

.info-list dt {
    line-height: 42px;
    font-size: 18px;
    font-weight: 600;
    font-family: "黑体";
    color: #1F1F1F;
}

.info-list dt img {
    margin-right: 12px;
    vertical-align: -3px;
}

.info-list dd {
    margin: 6px 0 6px 34px;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    text-align: justify;
}

.finance-details .btn-box {
    font-size: 0;
    text-align: center;
}

.finance-details .btn-box button {
    display: inline-block;
    min-width: 180px;
    height: 46px;
    margin: 0 10px;
    border-radius: 23px;
    font-size: 16px;
    font-weight: bold;
}

.finance-details .general > h2 {
    margin: 30px 0 3px -20px;
    line-height: 42px;
    font-size: 24px;
    font-family: "黑体";
    color: #1F1F1F;
}

.finance-details form {
    padding: 52px 0 50px;
}

.finance-details form .label {
    margin-bottom: 20px;
}

.label:after {
    display: table;
    clear: both;
    content: "";
}

.finance-details form .label label {
    width: 416px;
    padding-right: 10px;
    text-align: right;
    line-height: 36px;
    font-size: 14px;
    color: #1F1F1F;
    float: left;
}

.finance-details form .label .box {
    position: relative;
    width: 360px;
    float: left;
}

.finance-details form .label input,
.finance-details form .label select {
    width: 100%;
    height: 36px;
    border-radius: 1px;
}

.finance-details form .width-30 {
    width: 30% !important;
    margin-left: 5% !important;
    float: left;
}

.finance-details form .width-30:first-of-type {
    margin-left: 0 !important;
}

.finance-details form .label select.width-30 {
    margin-bottom: 20px;
}

.finance-details form .box span.unit {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 2;
    display: block;
    line-height: 36px;
    font-size: 12px;
    color: #545454;
}

.finance-details form .btn-box {
    margin-top: 74px;
}


/*  ==================================================
    首页样式
    ==================================================  */

.home-action form {
    height: 42px;
    padding: 20px 0;
}

.home-action .label {
    position: relative;
    margin-right: 10px;
}

.home-action .label input,
.home-action .label select {
    width: 240px;
    height: 42px;
    padding-left: 10px;
    border-color: #FFF;
    border-radius: 6px;
}

input + span.unit {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 42px;
    font-size: 12px;
    color: #545454;
}

.home-action .label + button {
    width: 72px;
    height: 42px;
    margin-left: 2px;
    border-radius: 6px;
    font-size: 14px;
    float: left;
}

.home-action form + div.pull-right button {
    width: 132px;
    height: 42px;
    margin: 20px 0 20px 6px;
    border-radius: 6px;
    float: left;
}

.home-action li {
    width: 285px;
    height: 227px;
    padding-top: 53px;
    margin: 0 20px 22px 0;
    border-radius: 8px;
    background: #FFF url("../images/home-bg-1.png") repeat-x 0 0;
    text-align: center;
    float: left;
}

.home-action li:last-child {
    margin-right: 0;
}

.home-action li img {
    margin-bottom: 15px;
}

.home-action li h5 {
    line-height: 42px;
    font-size: 18px;
    color: #186BF8;
    font-weight: normal;
}

.home-action li p {
    line-height: 20px;
    font-size: 12px;
    color: #868686;
}

.home-title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
}

.hot-product .home-title {
    margin-bottom: 20px;
}

.hot-product .finance-box {
    padding-bottom: 16px;
}

.hot-product > button {
    display: block;
    width: 180px;
    height: 46px;
    margin: 0 auto 44px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.home-case {
    padding-bottom: 64px;
    background: url("../images/home-bg-2.png") repeat-x scroll 0 0;
}

.home-case .case-box {
    padding-bottom: 32px;
}

.home-case .tempWrap {
    margin-left: -10px;
}

.home-case .finance-box .finance-list {
    margin: 14px 10px 20px 10px;
}

.finance-box.green .finance-list {
    background-image: url("../images/e-background-green.png");
    background-position: right top;
    background-repeat: no-repeat;
}

.finance-box.green .finance-list a.link,
.finance-box.green .finance-list:before {
    background: #1EC658;
}

.finance-box.green .finance-list .number:before {
    border-color: #1EC658;
}

.finance-box.green .finance-list .info .general,
.finance-box.green .finance-list .info .general i,
.finance-box.green .finance-list .particular li,
.finance-box.green .finance-list .particular li i {
    color: #1EC658;
}

.case-box .hd {
    height: 32px;
    font-size: 0;
    text-align: center;
}

.case-box .hd span {
    display: inline-block;
    padding: 0 14px;
    line-height: 32px;
    font-size: 14px;
    color: #878787;
}

.case-box .hd span span {
    padding: 0;
}

.case-box .hd a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    vertical-align: top;
}

.home-news {
    width: 522px;
    height: 412px;
    padding: 4px 34px 0;
    border-radius: 8px;
    background: #FFF;
}

.home-news h3 {
    position: relative;
    height: 72px;
    margin-bottom: 38px;
    border-bottom: #DDD solid 1px;
    line-height: 72px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.home-news h3:after {
    position: absolute;
    right: 0;
    bottom: -6px;
    display: block;
    width: 95px;
    height: 11px;
    background: url("../images/home-icon-10.png") no-repeat scroll 0 0;
    content: "";
}

.home-news li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 44px;
    line-height: 22px;
    font-size: 16px;
    color: #333333;
}

.home-news li:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 22px;
    background: url("../images/home-icon-5.jpg") no-repeat scroll 0 0;
    content: "";
}

.home-news li:nth-child(2):before {
    background-image: url("../images/home-icon-6.jpg");
}

.home-news li:nth-child(3):before {
    background-image: url("../images/home-icon-7.jpg");
}

.home-news li p {
    margin-bottom: 10px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-news li > a {
    font-size: 14px;
    color: #1173FA;
}

.home-news li > a:hover {
    text-decoration: underline;
}

.home-cooperate {
    background: #FFF;
}

.home-cooperate h3.home-title {
    padding: 32px 0;
}

.home-cooperate .coop-list {
    position: relative;
    padding-bottom: 62px;
}

.home-cooperate .hd {
    position: absolute;
    left: 0;
    bottom: 36px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.home-cooperate .bd li {
    overflow: hidden;
}

.home-cooperate .bd li > span {
    display: block;
    margin: 0 20px 32px 0;
    float: left;
}

.footer-more.footer-grey {
    padding: 114px 0 24px;
    background: #F4F5F9;
}

.footer-more.footer-grey dl {
    margin-bottom: 114px;
}

.policy {
    padding-bottom: 68px;
}

.policy > div.background-grey {
    padding-top: 24px;
}

.global-list + .page-box {
    margin-top: -6px;
}

.global-list {
    position: relative;
    padding: 25px 180px 29px 60px;
    margin-bottom: 24px;
    border-left: #186BFA solid 2px;
    background: #FFF;
    border-radius: 0 8px 8px 0;
    box-shadow: rgba(224, 227, 239, .4) 0 3px 7px;
    transition: .2s;
}

.global-list:hover {
    box-shadow: rgba(224, 227, 239, .6) 0 6px 15px;
    transform: scale(1.01);
}

.global-list:after {
    position: absolute;
    right: 42px;
    top: 50%;
    display: block;
    width: 6px;
    height: 14px;
    margin-top: -7px;
    background: url("../images/icon-arrow-2.png") no-repeat scroll 0 0;
    content: "";
}

.global-list h5 a {
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    color: #202020;
}

.global-list h5 a:hover {
    color: #186BF9;
}

.global-list h5 + span {
    display: block;
    line-height: 36px;
    font-size: 13px;
    font-family: Verdana;
}

.global-list p {
    line-height: 22px;
    font-size: 14px;
    color: #999999;
    text-align: justify;
}

.details-box {
    min-height: 700px;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
}

.details-box .title {
    position: relative;
    padding: 44px 120px 18px;
    margin-bottom: 16px;
    text-align: center;
}

.details-box .title:after {
    position: absolute;
    left: 0;
    bottom: -16px;
    display: block;
    width: 100%;
    height: 16px;
    background: url("../images/shadow-bg.png") repeat-x scroll 0 0;
    content: "";
}

.details-box .title h2 {
    padding-bottom: 16px;
    line-height: 48px;
    font-size: 30px;
    color: #1F1F1F;
    font-weight: normal;
}

.details-box .title .number {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    margin-top: 16px;
    line-height: 24px;
    font-size: 14px;
    color: #999999;
    font-family: Verdana, "微软雅黑";
}

.details-box .title .number:before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: -5px;
    border: #186BF9 solid 2px;
    border-radius: 50%;
    content: "";
}

.details-box .content {
    padding: 28px 100px 110px;
    text-align: justify;
}

.details-box .content h3 {
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.details-box .content h4 {
    padding: 10px 0;
    line-height: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
}

.details-box .content h5,
.details-box .content p {
    margin-bottom: .8em;
    text-indent: 2em;
    line-height: 28px;
    font-size: 14px;
    color: #666666;
}

.details-box .content h5 {
    text-indent: 0;
    font-weight: normal;
}

.news-hot .news-big {
    position: relative;
    width: 400px;
    height: 268px;
    padding: 10px;
    background: #FFF;
    float: left;
}

.news-hot .news-big a {
    display: block;
    position: relative;
    overflow: hidden;
}

.news-hot img {
    transition: .2s;
}

.news-hot a:hover img {
    transform: scale(1.1);
}

.news-hot .news-big span {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    padding: 0 14px;
    background: rgba(0, 0, 0, .7);
    line-height: 40px;
    font-size: 14px;
    color: #FFF;
}

.news-hot ul.hot-list {
    overflow: hidden;
}

.news-hot ul.hot-list li {
    width: 224px;
    height: 278px;
    padding: 10px 10px 0;
    margin-left: 16px;
    background: #FFF;
    float: left;
}

.news-hot ul.hot-list a.img {
    display: block;
    width: 224px;
    height: 144px;
    margin-bottom: 14px;
    overflow: hidden;
}

.news-hot ul.hot-list a {
    line-height: 22px;
    font-size: 13px;
    text-align: justify;
}

.news-hot ul.hot-list p {
    padding-top: 14px;
    line-height: 26px;
    color: #878787;
    font-size: 13px;
}

.news-hot ul.hot-list p strong {
    display: block;
    color: #186BF8;
    font-family: Verdana;
}

.details-box h2.big {
    padding: 18px 0 36px;
    font-size: 38px;
    line-height: 58px;
}

.details-box > div.title.align-left {
    padding: 44px 92px 18px;
    text-align: left;
}

.details-box .imgbox {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    overflow: hidden;
}

.details-box .imgbox img {
    max-width: 100%;
}

.global-list.read {
    border-color: #8CB5FD;
}

.global-list.read:after,
.global-list.read * {
    opacity: .6;
}

.record-box {
    padding-bottom: 70px;
}

.record-box .crumbs,
.about-us .crumbs {
    padding: 9px 0 8px;
}

.record-box .tabs-bar {
    height: 92px;
    border-radius: 6px 6px 0 0;
    background: #CDD2E5 url("../images/tabs-bg.png") repeat-x scroll 0 0;
}

.record-box .tabs-bar li {
    float: left;
}

.record-box .tabs-bar a {
    position: relative;
    display: block;
    height: 92px;
    padding: 0 40px 0 66px;
    border-radius: 6px 6px 0 0;
    line-height: 92px;
    font-size: 18px;
    color: #333333;
    overflow: hidden;
}

.record-box .tabs-bar a:before {
    position: absolute;
    left: 38px;
    top: 50%;
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -6px;
    border: #888888 solid 2px;
    border-radius: 50%;
    content: "";
}

.record-box .tabs-bar li.active a {
    background: #FFF;
}

.record-box .tabs-bar li.active a:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    height: 3px;
    background: #186BFA;
    content: "";
}

.record-box .tabs-bar li.active a:before {
    border-color: #186BFA;
}

.record-box .tabs-content {
    min-height: 500px;
    background: #FFF;
    border-radius: 0 0 6px 6px;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

table th {
    height: 50px;
    background: #FFF;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

table td {
    position: relative;
    height: 45px;
    border-bottom: #F4F5F9 solid 1px;
    font-size: 12px;
    font-family: Verdana, "微软雅黑";
    color: #666666;
}

table td a {
    color: #186BFA;
}

table td a:hover {
    text-decoration: underline;
}

table th:first-child,
table td:first-child {
    padding-left: 25px;
}

table th:last-child,
table td:last-child {
    padding-right: 25px;
}

table tr:first-child td {
    background-image: url("../images/shadow-bg.png");
    background-repeat: repeat-x;
    background-position: 0 0;
}

table td:first-child:before,
table td:last-child:before {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 25px;
    height: 1px;
    background: #FFF;
    content: "";
}

table td:last-child:before {
    left: auto;
    right: 0;
}

table td .btn {
    min-width: 46px;
    height: 26px;
    font-size: 12px;
}

.tabs-content table {
    width: 100%;
}

.tabs-content table + .page-box {
    height: auto;
}

.tabs-content table + .page-box ul {
    padding: 12px 25px;
}

table td.no-data {
    height: 78px;
    text-align: center;
    border: 0;
}

.about-us .slogan {
    position: relative;
    padding: 66px 84px;
    margin-bottom: 40px;
    background: #FFF;
    border-radius: 6px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-align: justify;
    overflow: hidden;
}

.about-us .slogan:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #186BFA;
    content: "";
}

.about-us .business {
    margin-bottom: 60px;
    background: #FFF;
    box-shadow: rgba(224, 227, 239, .4) 0 3px 7px;
    overflow: hidden;
}

.about-us .business .list {
    width: 400px;
    float: left;
}

.about-us .business .title {
    position: relative;
    width: 100%;
    height: 196px;
    overflow: hidden;
}

.about-us .business .title img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

.about-us .business .title h5 {
    position: relative;
    z-index: 2;
    padding-top: 78px;
    line-height: 32px;
    text-align: center;
    font-family: "苹方";
    font-size: 24px;
    font-weight: normal;
    color: #FFF;
}

.about-us .business .title span {
    display: block;
    line-height: 26px;
    font-size: 16px;
    font-family: Arial;
    opacity: .6;
}

.about-us .business .list > p {
    position: relative;
    padding: 22px 40px 32px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    color: #858585;
}

.about-us .business .list > p:before {
    position: absolute;
    left: 0;
    top: 34px;
    bottom: 46px;
    display: block;
    width: 0;
    border-left: #CCCCCC dotted 1px;
    content: "";
}

.about-us .business .list:first-child > p:before {
    content: none;
}

.personal-page {
    padding: 38px 0 10px;
}

.personal-page > .nav {
    width: 260px;
    padding: 53px 0 26px;
    border-radius: 6px;
    background: #FFF url("../e_images/personal-bg.png") no-repeat scroll 0 0;
}

.personal-page > .nav div.head {
    width: 78px;
    height: 78px;
    margin: 0 auto 8px;
    border-radius: 50%;
    overflow: hidden;
}

.personal-page > .nav h5 {
    line-height: 24px;
    padding-bottom: 8px;
    font-size: 14px;
    font-family: Bahnschrift;
    color: #111111;
    text-align: center;
}

.personal-page > .nav ul {
    padding-top: 6px;
}

.personal-page > .nav li {
    padding-bottom: 11px;
}

.personal-page > .nav li a {
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #878787;
    font-size: 14px;
}

.personal-page > .nav li a:hover {
    color: #333;
}

.personal-page > .nav li a:active,
.personal-page > .nav li a.active {
    background: url("../e_images/nav-bg.png") repeat-x scroll 0 0;
    color: #333333;
}

.personal-page > .nav li a:active:before,
.personal-page > .nav li a.active:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 4px;
    height: 100%;
    background: #156FF9;
    content: "";
}

.personal-page > div.pull-right {
    width: 895px;
}

.personal-content .title {
    position: relative;
    height: 42px;
    padding: 25px 24px 25px 26px;
    border-radius: 6px 6px 0 0;
    background: url("../e_images/tabs-bg.png") repeat-x scroll 0 0;
}

.personal-content .title:after {
    display: table;
    clear: both;
    content: "";
}

.personal-content .title h5 {
    position: relative;
    padding-left: 26px;
    line-height: 42px;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    float: left;
}

.personal-content .title h5:before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 8px;
    height: 8px;
    border: #186BF9 solid 2px;
    margin-top: -6px;
    border-radius: 50%;
    content: "";
}

.personal-content .title h5 span {
    display: inline-block;
    padding-left: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: initial;
}

.personal-content .title .toolbar {
    float: right;
}

.personal-content .title button {
    min-width: 100px;
    height: 42px;
    border-radius: 22px;
    font-size: 14px;
}

.personal-content .title.transparent {
    padding: 5px 0 15px;
    background: none;
}

.personal-content .content-box {
    min-height: 35px;
    border-radius: 0 0 6px 6px;
}

.personal-content .content-box.background-white {
    min-height: 490px;
    box-shadow: rgba(224, 227, 239, .4) 0 3px 7px;
}

.personal-content .finance-box {
    width: 915px;
}

.personal-content .hd.align-right {
    text-align: right;
}

.personal-content .bd .finance-list {
    margin: 14px 10px 20px;
}

.personal-content .bd .tempWrap {
    margin: -14px 0 0 -10px;
}

.personal-content .finance-details:before,
.personal-content .finance-details:after {
    content: none;
}

.personal-content .finance-details {
    padding-top: 30px;
    margin-bottom: 0;
}

.personal-content .finance-details form .label label {
    width: 256px;
}

input:disabled,
select:disabled,
textarea:disabled {
    background: #fbfcff;
}

.personal-content .finance-details .btn-green + .btn {
    font-weight: normal;
    box-shadow: none;
    color: #979cac;
}

.details-box .title h3.number {
    margin: -2px 0 16px;
    font-size: 20px;
    font-weight: normal;
    color: #444;
}

.approval-content .box {
    position: relative;
    padding-bottom: 30px;
    margin: 0 -8px;
}

.approval-content .box:before {
    position: absolute;
    left: 4px;
    top: 26px;
    bottom: 0;
    display: block;
    width: 0;
    border-left: #186bf9 dotted 2px;
    content: "";
}

.approval-content .box.no-line:before {
    content: none;
}

.approval-content ul {
    border: #EEE solid 1px;
    margin-left: 24px;
    box-shadow: rgba(224, 227, 239, .4) 0 3px 7px;
}

.approval-content ul li {
    position: relative;
    width: 25%;
    padding: 10px 0;
    float: left;
}

.approval-content ul li:before {
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 20px;
    display: block;
    width: 0;
    border-left: #DDD dotted 1px;
    content: "";
}

.approval-content ul li:first-child:before {
    content: none;
}

.details-box .approval-content ul h5 {
    display: block;
    margin: 6px 0 0;
    font-size: 12px;
    color: #666;
    padding: 0 30px;
}

.details-box .approval-content ul p {
    padding: 0 30px;
    text-indent: 0;
    font-size: 16px;
}

.details-box .approval-content h3 {
    position: relative;
    padding-left: 24px;
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 15px;
    color: #444;
    font-family: Verdana, "微软雅黑";
}

.details-box .approval-content h3:before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: -5px;
    border: #186BF9 solid 2px;
    border-radius: 50%;
    content: "";
}

.details-box .approval-content .result {
    display: table;
    width: 990px;
    min-height: 120px;
    border: #EEE solid 1px;
    margin-left: 24px;
    box-shadow: rgba(224, 227, 239, .4) 0 3px 7px;
}

.details-box .approval-content .result p {
    display:table-cell;
    padding: 0 30px;
    text-indent: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}